.loginheader {
  width: 100vw;
  height:10vh;
  background-color: $dark-color;
  @include flexCenter;
  flex-direction: column;
  color: $white;


  h1 {
    @include main-logo;
  }

  h3 {
    font-family: $font-sub;
    font-weight: 300;
  }

  .line {
    width: 100vw;
    height: 6px;
    background-color: $white;
    position: relative;
    bottom: -10px;
  }
}


.loginpage {
  width: 100vw;
  height: 70vh;
  background-color: $primary-color;

  .loginform {
    width: 100%;
    height: 100%;
    @include flexCenter;
    flex-flow: column wrap;

    .loginputs {
      width: 100%;
      height: 20%;
      @include flexCenter;
      flex-direction: column;

    input {
      width: 65%;
      height: 30%;
      margin-bottom: 4%;
      text-align: center;
      font-size: 16px;
    }
  }
    .logbuttons {
      width: 80%;
      height: 20%;
      display: flex;
      justify-content: space-around;

    button {
      all: unset;
      width: 30%;
      height: 30%;
      text-align: center;
      margin-bottom: 4%;
      font: normal normal 300 1.1rem $font-sub;
      background-color: $light-color;
      color: $white;
      cursor: crosshair;
      @include transition-ease;

      &:hover {
        background-color: $darkest-color;
      }
    }
  }
  }
}

@media (min-width: 768px) {
  .loginpage 
  .loginform 
  .loginputs input {
    width: 30%;
    margin-bottom: 1%;
  }
  .loginpage .loginform .logbuttons {
    width: 30%;
  }
  .loginpage {
    height: 83.8vh;
  }
}