@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
};

@mixin main-logo {
  font-family: $font-logo;
  font-weight: 500;
  font-size: 2.8rem;
  color: white;
};

@mixin logo {
  font-family: $font-logo;
  font-weight: 500;
  font-size: 1.8rem;
  color: white;
};

@mixin transition-ease {
  transition: all 0.5s ease-out;
};