.pageheading {
  width: 100vw;
  height: 7vh;
  background-color: $light-color;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-family: $font-barcode;
    font-size: 3rem;
    color: $white;
  }
}

.filterbar {
  width: 80vw;
  height: 4vh;
  background-color: $light-color;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .filter {
    width: 75%;
    height: 100%;
    background-color: $light-color;
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: $font-copy;

    p:first-child {
      position: relative;
      top: 2px;
      font-family: $font-sub;
      font-weight: 200;
      color: $white;
      margin-left: 10px;
      font-style: italic; 

    }
  }
  button {
    all: unset;
    margin-right: 3%;
    font-family: $font-sub;
    font-weight: 300;
    font-size: 1rem;
    color: white;
  }
}

@media (min-width: 768px) {
  .filterbar {
    height: 2rem;
    width: 12vw;

    .filter {
      height: 2rem;
    }
  }
  
}



