table {
  margin: auto;
  margin-top: 1rem;
  color: $white;
  border: 1px solid $white;
  font-family: $font-copy;
  font-size: .8rem;


  th, tr {
    padding: .3rem;

  }

  td {
    padding: .2rem;
    overflow: hidden;
    white-space: nowrap;
  }
}

.tableWrapper {
  overflow: auto;
}

.intereststable {
  width: 96%;
  table-layout: fixed;
  font-family: $font-copy;
  font-size: .7rem;
  border: none; 
  text-align: center;

  thead {
    text-align: center;
  }
}


