table {
  // margin: auto;
  margin-left: auto;
  margin-right: auto;
  color: $white;
  border: 1px solid $white;
  font-family: $font-copy;
  font-size: .8rem;


  th, tr {
    padding: .3rem;

  }

  td {
    padding: .2rem;
    overflow: hidden;
    white-space: nowrap;
  }
}

.tableWrapper {
  overflow: auto;
  width: 100%;
  height: 84.2%;
  margin-top: 1rem;
}

// .tableWrapper::-webkit-scrollbar { 
//   display: none; 
//   }

.intereststable {
  width: 96%;
  table-layout: fixed;
  font-family: $font-copy;
  font-size: .7rem;
  border: none; 
  text-align: center; 

  thead {
    background-color: $darkest-color;
    text-align: center;
    position:sticky;
    top: 0;
  }
}


