$primary-color: #678EBB;
$light-color: #85A5CB;
$dark-color: #4B6787;
$darkest-color: #3D546E;
//rgba(61,84,110, 1)

$font-logo: 'Gugi', cursive;
$font-copy: 'KoHo', sans-serif;
$font-sub: 'Chivo', sans-serif;
$font-barcode: 'Libre Barcode 39', cursive;

$white: #e2e6f1;
// rgba(226,230,241, 1)