@import './variables';
@import './mixins';
@import './loginpage';
@import './tables';
@import './pagehead-filter';
@import './searchbar';








.interestspage {
  width: 100vw;
  height: 80vh;
  background-color: $primary-color;

}

.cardsearch {
  width: 100vw;
  height: 80vh;
  background-color: $primary-color;

  .results {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}





footer {
  width: 100vw;
  height: 10vh;
  background-color: $dark-color;
}