.loginheader {
  width: 100vw;
  height: 10vh;
  background-color: #4B6787;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e2e6f1;
}

.loginheader h1 {
  font-family: "Gugi", cursive;
  font-weight: 500;
  font-size: 2.8rem;
  color: white;
}

.loginheader h3 {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
}

.loginheader .line {
  width: 100vw;
  height: 6px;
  background-color: #e2e6f1;
  position: relative;
  bottom: -10px;
}

.loginpage {
  width: 100vw;
  height: 80vh;
  background-color: #678EBB;
}

.loginpage .loginform {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.loginpage .loginform input {
  width: 80%;
  height: 5%;
  margin-bottom: 4%;
  text-align: center;
}

.loginpage .loginform button {
  all: unset;
  width: 30%;
  height: 5%;
  text-align: center;
  margin-bottom: 4%;
  font: normal normal 300 1.1rem "Chivo", sans-serif;
  background-color: #3D546E;
  color: #e2e6f1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.loginpage .loginform button:hover {
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 0 4px #e2e6f1;
          box-shadow: 2px 2px 0 4px #e2e6f1;
}

table {
  margin: auto;
  margin-top: 1rem;
  color: #e2e6f1;
  border: 1px solid #e2e6f1;
  font-family: "KoHo", sans-serif;
}

table th, table tr {
  padding: .3rem;
}

.pageheading {
  width: 100vw;
  height: 7vh;
  background-color: #85A5CB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageheading h3 {
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 3rem;
  color: #e2e6f1;
}

.filterbar {
  width: 80vw;
  height: 4vh;
  background-color: #85A5CB;
  margin: auto;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filterbar .filter {
  width: 75%;
  height: 100%;
  background-color: #85A5CB;
  border: none;
  text-align: left;
}

.filterbar button {
  all: unset;
  margin-right: 3%;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  color: #e2e6f1;
}

.searchbar {
  position: absolute;
  top: 6rem;
  margin-left: 10%;
  width: 80vw;
  height: 2rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchbar input {
  border: none;
  height: 92%;
  width: 75%;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 8px;
}

.searchbar button {
  all: unset;
  margin-right: .5rem;
  text-align: center;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: white;
  color: black;
}

.interestspage {
  width: 100vw;
  height: 80vh;
  background-color: #678EBB;
}

.cardsearch {
  width: 100vw;
  height: 80vh;
  background-color: #678EBB;
}

.cardsearch .results {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.siteheader {
  width: 100vw;
  height: 10vh;
  background-color: #4B6787;
  color: #e2e6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.siteheader h1 {
  font-family: "Gugi", cursive;
  font-weight: 500;
  font-size: 1.8rem;
  color: white;
}

.siteheader .searchicon {
  width: 40px;
  height: 40px;
}

.siteheader .searchicon .searchicon1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.28);
  border: 6px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.siteheader .searchicon .searchicon2 {
  position: relative;
  left: 20px;
  bottom: 8px;
  width: 4px;
  height: 0px;
  border: 4px solid #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-container {
  width: 40px;
  height: 40px;
}

.hamburger-container .topbun {
  width: 40px;
  height: 7px;
  background: white;
  margin-bottom: 4px;
  margin-top: 3px;
}

.hamburger-container .burger {
  width: 32px;
  height: 7px;
  background: white;
  margin-bottom: 4px;
}

.hamburger-container .botbun {
  width: 40px;
  height: 7px;
  background: white;
}

.dropdown-menu {
  width: 100%;
  height: 0rem;
  background-color: #3D546E;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.dropdown-menu ul {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 6%;
  padding-top: 3%;
}

.dropdown-menu ul li {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  color: #e2e6f1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.dropdown-menu ul li:hover {
  color: white;
  text-shadow: 1px 1px 0px #85A5CB;
}

.dropdown-menu-active {
  width: 100%;
  height: 10rem;
}

footer {
  width: 100vw;
  height: 10vh;
  background-color: #4B6787;
}
/*# sourceMappingURL=index.css.map */