.searchbar {
  position: absolute;
  top: 6rem;
  margin-left: 10%;
  width: 80vw;
  height: 2rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0px;
  border: 1px solid black;
}

.searchbar form {
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchbar form input {
  border-radius: 0px;
  height: 70%;
  width: 70%;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 8px;
}

.searchbar form button {
  all: unset;
  width: 30%;
  height: 2rem;
  text-align: center;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #3D546E;
  color: white;
}

.desktopmarginsearch {
  margin-top: 10px;
  width: 80%;
  height: 10vh;
}

.desktopsearchbar {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desktopsearchbar input {
  width: 75%;
  height: 2rem;
  background-color: #85A5CB;
  width: 300px;
  border: none;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 8px;
}

.desktopsearchbar button {
  all: unset;
  width: 80px;
  text-align: center;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #85A5CB;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.desktopsearchbar button:hover {
  background-color: #3D546E;
}

form[type=submit] button {
  all: unset;
  width: 80px;
  text-align: center;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #85A5CB;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

form[type=submit] button:hover {
  background-color: #3D546E;
}

.loginheader {
  width: 100vw;
  height: 10vh;
  background-color: #4B6787;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e2e6f1;
}

.loginheader h1 {
  font-family: "Gugi", cursive;
  font-weight: 500;
  font-size: 2.8rem;
  color: white;
}

.loginheader h3 {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
}

.loginheader .line {
  width: 100vw;
  height: 6px;
  background-color: #e2e6f1;
  position: relative;
  bottom: -10px;
}

.loginpage {
  width: 100vw;
  height: 70vh;
  background-color: #678EBB;
}

.loginpage .loginform {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.loginpage .loginform .loginputs {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginpage .loginform .loginputs input {
  width: 65%;
  height: 30%;
  margin-bottom: 4%;
  text-align: center;
  font-size: 16px;
}

.loginpage .loginform .logbuttons {
  width: 80%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.loginpage .loginform .logbuttons button {
  all: unset;
  width: 30%;
  height: 30%;
  text-align: center;
  margin-bottom: 4%;
  font: normal normal 300 1.1rem "Chivo", sans-serif;
  background-color: #85A5CB;
  color: #e2e6f1;
  cursor: crosshair;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.loginpage .loginform .logbuttons button:hover {
  background-color: #3D546E;
}

@media (min-width: 768px) {
  .loginpage
.loginform
.loginputs input {
    width: 30%;
    margin-bottom: 1%;
  }
  .loginpage .loginform .logbuttons {
    width: 30%;
  }
  .loginpage {
    height: 83.8vh;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
  color: #e2e6f1;
  border: 1px solid #e2e6f1;
  font-family: "KoHo", sans-serif;
  font-size: .8rem;
}

table th, table tr {
  padding: .3rem;
}

table td {
  padding: .2rem;
  overflow: hidden;
  white-space: nowrap;
}

.tableWrapper {
  overflow: auto;
  width: 100%;
  height: 84.2%;
  margin-top: 1rem;
}

.intereststable {
  width: 96%;
  table-layout: fixed;
  font-family: "KoHo", sans-serif;
  font-size: .7rem;
  border: none;
  text-align: center;
}

.intereststable thead {
  background-color: #3D546E;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.pageheading {
  width: 100vw;
  height: 7vh;
  background-color: #85A5CB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageheading h3 {
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 3rem;
  color: #e2e6f1;
}

.filterbar {
  width: 80vw;
  height: 4vh;
  background-color: #85A5CB;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filterbar .filter {
  width: 75%;
  height: 100%;
  background-color: #85A5CB;
  border: none;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "KoHo", sans-serif;
}

.filterbar .filter p:first-child {
  position: relative;
  top: 2px;
  font-family: "Chivo", sans-serif;
  font-weight: 200;
  color: #e2e6f1;
  margin-left: 10px;
  font-style: italic;
}

.filterbar button {
  all: unset;
  margin-right: 3%;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: white;
}

@media (min-width: 768px) {
  .filterbar {
    height: 2rem;
    width: 12vw;
  }
  .filterbar .filter {
    height: 2rem;
  }
}

.searchresult {
  width: 80%;
  height: 10rem;
  background-color: #4B6787;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  border-radius: 6px;
}

.searchresult p {
  font-family: "Chivo", sans-serif;
  margin-top: 4px;
}

.searchresult .resultcontainer {
  width: 90%;
  height: 80%;
  background-color: #4B6787;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchresult .resultcontainer img {
  width: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.searchresult button {
  width: 40px;
  height: 16px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 34px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 10px;
  font-family: "Chivo", sans-serif;
}

.searchresult .addbar {
  height: 20%;
  width: 100%;
  background-color: #3D546E;
  text-align: center;
  line-height: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.searchresult .addbar p {
  font-family: "Chivo", sans-serif;
  color: white;
}

.searchresult .addbar button {
  all: unset;
  color: #e2e6f1;
  font-family: "KoHo", sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.searchresult .addbar button:hover {
  color: white;
  text-shadow: 1px 1px 0px #85A5CB;
}

.addmodal {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addmodal .modal {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  z-index: 100;
  background: #85A5CB;
  -webkit-box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.9);
}

.addmodal .modal .modal-content {
  background-color: #4B6787;
  font-family: "KoHo", sans-serif;
  text-align: center;
  padding: 10px;
  color: white;
  width: 90%;
  height: 76%;
  overflow: hidden;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
}

.addmodal .modal .modal-content .cardinfo {
  background-color: #3D546E;
  width: 100%;
  padding: 4px;
  border-radius: 1px;
}

.addmodal .modal .modal-content .addcard {
  width: 100%;
  height: 60%;
  margin: 8px 0px;
}

.addmodal .modal .modal-content .addcard input[name="card_amount"] {
  margin-left: 76px;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 40px;
  text-align: center;
  font-size: 16px;
}

.addmodal .modal .modal-content .addcard input[name="buyprice"] {
  margin-top: 6px;
  width: 80px;
  text-align: center;
  font-size: 16px;
}

.addmodal .modal .modal-content .addcard input[name="sellprice"] {
  margin-top: 2px;
  width: 80px;
  text-align: center;
  font-size: 16px;
}

.addmodal .modal .modal-content .react-add {
  all: unset;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addmodal .modal .modal-content .add-button {
  all: unset;
  width: 60px;
  height: 30px;
  color: #e2e6f1;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  border-radius: 2px;
  border: 1px solid #85A5CB;
  background-color: #3D546E;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.addmodal .modal .modal-content .add-button:hover {
  color: white;
  text-shadow: 1px 1px 0px #85A5CB;
}

.modal-closed {
  display: none;
}

.close-container {
  position: relative;
  margin: 6px 4px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.close-container .leftright {
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 13px;
  background-color: #678EBB;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.close-container .rightleft {
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 13px;
  background-color: #678EBB;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.close-container .close {
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #3D546E;
}

.close-container:hover .rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #3D546E;
}

.foilcheckbox {
  display: inline;
  text-align: center;
  margin-left: 20px;
  vertical-align: middle;
}

.foilcheckbox p {
  display: inline;
  vertical-align: top;
}

.foilcheckbox input {
  display: inline;
  width: 20px;
  height: 20px;
}

.sellinput {
  margin-top: 8px;
}

.sellinterest {
  all: unset;
  width: 60px;
  height: 30px;
  color: #e2e6f1;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  border-radius: 2px;
  border: 1px solid #85A5CB;
  background-color: #3D546E;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.sellinterest:hover {
  color: white;
  text-shadow: 1px 1px 0px #85A5CB;
}

.delete-interest {
  all: unset;
  width: 100px;
  height: 26px;
}

.modal-add-form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topbar {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.topbar button {
  all: unset;
  font-size: 0.8rem;
  width: 110px;
  margin-left: 5px;
}

.sell-form {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sell-form p {
  font-family: "Chivo", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.desktopheader {
  width: 100vw;
  height: 10vh;
  background-color: #4B6787;
  color: #e2e6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktopheader .headerlogo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.desktopheader .headerlogo h1 {
  font-family: "Gugi", cursive;
  font-weight: 500;
  font-size: 2.8rem;
  color: white;
  margin-left: 10px;
}

.desktopheader .headerlogo h3 {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 4px;
}

.desktopheader .spacer {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.desktopheader .headernav {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktopheader .headernav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.desktopheader .headernav ul a {
  text-decoration: none;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  color: #e2e6f1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.desktopheader .headernav ul a:hover {
  color: white;
  text-shadow: 1px 1px 0px #85A5CB;
}

.desktopheader .headernav ul li {
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.interestspage {
  width: 100vw;
  height: 70vh;
  background-color: #678EBB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marginspage {
  width: 100vw;
  height: 70vh;
  background-color: #678EBB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interestrow {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.interestrow:hover {
  background-color: #4B6787;
}

.interestrow a {
  color: white;
  text-decoration: none;
}

.cardsearch {
  width: 100vw;
  min-height: 70vh;
  background-color: #678EBB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardsearch .results {
  width: 100%;
  height: 81.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.siteheader {
  width: 100vw;
  height: 10vh;
  background-color: #4B6787;
  color: #e2e6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.siteheader h1 {
  font-family: "Gugi", cursive;
  font-weight: 500;
  font-size: 1.8rem;
  color: white;
}

.siteheader .searchicon {
  width: 40px;
  height: 40px;
}

.siteheader .searchicon .searchicon1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.28);
  border: 6px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.siteheader .searchicon .searchicon2 {
  position: relative;
  left: 20px;
  bottom: 8px;
  width: 4px;
  height: 0px;
  border: 4px solid #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-container {
  width: 40px;
  height: 40px;
}

.hamburger-container .topbun {
  width: 40px;
  height: 7px;
  background: white;
  margin-bottom: 4px;
  margin-top: 3px;
}

.hamburger-container .burger {
  width: 32px;
  height: 7px;
  background: white;
  margin-bottom: 4px;
}

.hamburger-container .botbun {
  width: 40px;
  height: 7px;
  background: white;
}

.dropdown-menu {
  width: 100%;
  height: 0rem;
  background-color: #3D546E;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.dropdown-menu ul {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 6%;
  padding-top: 3%;
}

.dropdown-menu ul a {
  text-decoration: none;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  color: #e2e6f1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.dropdown-menu ul a:hover {
  color: white;
  text-shadow: 1px 1px 0px #85A5CB;
}

.dropdown-menu-active {
  width: 100%;
  height: 10rem;
}

.linechart {
  width: 80vw;
  height: 30vh;
}

footer {
  width: 100vw;
  height: 6.2vh;
  background-color: #4B6787;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: white;
  text-decoration: none;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.nodisplay {
  display: none;
}

@media (min-width: 768px) {
  .intereststable {
    font-size: 1.2rem;
  }
  .marginspage {
    height: 83.8vh;
  }
  .cardsearch {
    height: 83.8vh;
  }
  .interestspage {
    height: 83.8vh;
  }
  .linechart {
    width: 60vw;
  }
}
/*# sourceMappingURL=index.css.map */